body
{
    color: #000000!important;
}
.event_infor{
    padding: 4px 200px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 106px;
    width: 100%;
}
    .event_name{
        padding-top: 10px;
        font-size: 1.5rem;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bolder;
        word-spacing: 10px;
        padding-bottom: 5px;
        font-family: "Open Sans",sans-serif;
    }
    .event_time{
        color: #ffffff;

    }
    .event_location{
        color: #ffffff;
    }



.ticket_infor{
    width: 60%;
    padding-left: 180px;
    height: 100%;
}


.flex
{
    display: flex;
}

.title
{
    text-align: center;
    border-bottom: 2px solid #e9ecef;
    margin: 10px 0 3px;
    font-size: large;
    color: #000000;
}
.booking{
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 63px;

}
    .booking_infor {
    margin-top: 36px;
    width: 330px;
    padding: 5px;
    display: block;
    background-color: #f1f1f1;
    height: fit-content;
}
    .total_ticket{
        border-bottom:  solid #e9ecef;
    }
    .submit{
        margin-top: 10px;
    }

.fixed{
    position: fixed;
    top: 8px;
    left: 59.5%;

}

.btn_change
{
    width: 21px;
    height: 22px;
    padding: 0;
    margin: 0;
}

.text_change_number
{
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 18px;
    text-align: center;
}



@media (max-width:1025px)
{
    .flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .ticket_infor{
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .booking {
        position: relative;
        margin: 0;
        padding: 0;
        text-align: center;
        padding: 0;
    }
    .event_infor
    {
        padding: 106px 0 0 20px;
    }
    .event_name{
        padding-top: 10px;
        font-size: 1rem;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bolder;
        word-spacing: 5px;
        padding-bottom: 5px;
        font-family: "Open Sans",sans-serif;
    }
    .fixed
    {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 63px;
    }
}