.footer {
  min-width: 1170px;
    position: relative;
    height: 300px;
    margin-top: 30px;
    background-color: #050549;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .footer .logo-footer {
    position: absolute;
    background-image: url("/Image/icon/logo.png");
    height: 400px;
    width: 500px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-size: cover;
    top: -25%;
  }
  
  .footer .community {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .footer .community .columns-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 42%;
    top: 90px;
  }
  
  .footer .community .columns-icon .rows-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .footer .community .columns-icon .rows-icon .icons {
    margin: 5px 5px;
    height: 50px;
    width: 50px;
    background-size: cover;
  }
  
  .footer .community .columns-icon .rows-icon .icons.item-1 {
    background-image: url("/Image/icon/facebook-icon.png");
    height: 49px;
    width: 49px;
    border-radius: 10px;
  }
  
  .footer .community .columns-icon .rows-icon .icons.item-2 {
    background-image: url("/Image/icon/ig-logo-email.png");
  }
  
  .footer .community .columns-icon .rows-icon .icons.item-3 {
    background-image: url("/Image/icon/Web-Youtube-alt-2-Metro-icon.png");
    border-radius: 7px;
  }
  
  .footer .community .columns-icon .rows-icon .icons.item-4 {
    background-image: url("/Image/icon/twitter_PNG32.png");
  }
  
  .footer .contact {
    position: absolute;
    top: 80px;
    right: 30px;
  }
  
  .footer .contact .content h5 {
    color: white;
  }