.main {
    top: 2px;
    position: relative;
    left: 5px;
    margin-bottom: 5px;
    background-color: #f3f3f3;
}

.main .container .main-category #carouselExampleIndicators {
    margin: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.main .container .category .title {
    background-color: #f3f3f3;
    position: sticky;
    color: #e55b00;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    top: 0px;
    z-index: 100;
}

.main .container .category .dash {
    background-image: url("/Image/Untitled-2.jpg");
    width: 100%;
    height: 5px;
}

.main .container .category .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main .container .category .content .component-ticket {
    /* margin-top: 25px; */
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    height: 355px;
    padding: 17px;
}

.main .container .category .content .component-ticket .img {
    background-size: cover;
    height: 200px;
    width: 520px;
    background-image: url({{$event->image}});
}

.main .container .category .content .component-ticket .img.item-1 {
    background-image: url({{$event->image}});
}

.main .container .category .content .component-ticket .img.item-2 {
    background-image: url("/Image/Ticket/4424A0.jpg");
}

.main .container .category .content .component-ticket .img.item-3 {
    background-image: url("/Image/Ticket/AA0610.jpg");
}

.main .container .category .content .component-ticket .img.item-4 {
    background-image: url("/Image/Ticket/5494D0.jpg");
}

.main .container .category .content .component-ticket .img.item-5 {
    background-image: url("/Image/Ticket/CBD357.jpg");
}

.main .container .category .content .component-ticket .img.item-6 {
    background-image: url("/Image/Ticket/6B5514.jpg");
}

.main .container .category .content .component-ticket .text {
    position: absolute;
}

.main .container .category .content .component-ticket .text .price .card {
    min-height: 20px;
    width: 520px;
}

.main .container .category .content .component-ticket .text .price .card .card-body {
    height: 120px;
}

.main .container .category .content .component-ticket .text .price .card .card-body a {
    color: black;
    font-size: 20px;
}

.main .container .category .content .component-ticket .text .price .card .card-body .padding-10 {
    margin-top: -10px;
}

.main .container .category .content .component-ticket .text .price .card .card-body .event-tags {
    width: 50% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 14px;
    padding-top: -33px;
}
.cover-image{
    height: 200px;
    width: 520px;
}
