.intro
{
    padding: 3rem;
}

.description {
    display: flex;
    position: absolute;
    width: calc(100% - 13px);
    bottom: 2px;
}

.des-left {
    flex-grow: 1;
}
.des_calendar {
    border: 1px solid;
    width: 4rem;
    height: 4rem;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

.calendar_content {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    color: #000000;
    align-items: center;
    justify-content: center;
}

.calendar_month {
    width: 102%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    background: #eb1212;
    padding: 0;
    margin: 0;
    color: #ffffff;
}