/*********************************
3. Menu
*********************************/

.menu
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #4867c0;
	background-image: linear-gradient(to right, #4867c0, #329fec);
	background: #4867c0;
	background: linear-gradient(to right, #4867c0, #329fec);
	z-index: 101;
	opacity: 0;
	visibility: hidden;
}
.menu.active
{
	opacity: 0.98;
	visibility: visible;
}
.menu_content
{
	width: 100%;
	height: 100%;
}
.menu_item
{
	position: relative;
	margin-bottom: 3px;
}
.menu_item:last-child
{
	margin-bottom: 0px;
}
.menu_logo
{
	margin-bottom: 38px;
}
.menu_logo a img
{
	
}
.menu_logo .logo_text,
.menu_logo .logo_sub
{
	color: #FFFFFF;
}
.menu_item a
{
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #FFFFFF;
	font-weight: 500;
}
.menu_item a::after
{
	display: block;
	position: absolute;
	top: 52%;
	left: 0;
	width: 0;
	height: 4px;
	background: #FFFFFF;
	letter-spacing: 2px;
	content: '';
	z-index: 10;
	pointer-events: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 400ms ease;
}
.menu_item:hover a::after
{
	width: 100%;
}
.menu_close_container
{
	position: absolute;
	top: 94px;
	right: 122px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #4867c0;
}
.menu_social
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 15px;
}
.menu_social_title
{
	display: inline-block;
	font-weight: 500;
	color: #bbbbbb;
}
.menu_social ul
{
	display: inline-block;
	margin-left: 25px;
	white-space: nowrap;
}
.menu_social ul li
{
	display: inline-block;
}
.menu_social ul li:not(:last-child)
{
	margin-right: 15px;
}
.menu_social ul li a i
{
	color: #bbbbbb;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	padding: 5px;
}
.menu_social ul li a i:hover
{
	color: #FFFFFF;
}

/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
	/* height: 100vh; */
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content_container
{
	position: absolute;
	left: 0;
	top: 42%;
	width: 100%;
}
.home_content
{
	max-width: 870px;
}
.home_date
{
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
}
.home_title
{
	font-size: 60px;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: -5px;
	line-height: 1.2;
}
.home_location
{
	font-size: 36px;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: -13px;
}
.home_text
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: 4px;
}
.home_buttons
{
	margin-top: 58px;
}
.home_button
{
	display: inline-block;
}
.home_button:not(:last-child)
{
	margin-right: 10px;
}
.hot-event
{
	margin-top: 240px;
}

/*********************************
4.1 Header
*********************************/
.header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 100;
}
.header.scrolled
{
	position: fixed;
	top: -127px;
	left: 0;
}
.header_top
{
	width: 100%;
	z-index: 2;
}
.header_top_content
{
	height: 127px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.logo_image div
{
	width: 59px;
	height: 46px;
}
.logo_image div img
{
	max-width: 100%;
}
.logo_content
{
	padding-left: 13px;
}
.logo_text
{
	line-height: 0.94;
	color: #4867c0;
	font-size: 34px;
	font-weight: 500;
	text-align: left;
}
.logo_text_not_ie
{
	background-image: -webkit-linear-gradient(left, #4867c0, #329fec); /* For Chrome and Safari */
    background-image: -moz-linear-gradient(left, #4867c0, #329fec); /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(left, #4867c0, #329fec); /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(left, #4867c0, #329fec); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #4867c0, #329fec); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.logo_sub
{
	font-size: 12px;
	font-weight: 500;
	color: #4c4c4c;
	margin-top: 5px;
}
.header_social ul
{
	margin-right: -5px;
}
.header_social ul li
{
	display: inline-block;
}
.header_social ul li:not(:last-child)
{
	margin-right: 18px;
}
.header_social ul li a i
{
	color: #4c4c4c;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_social ul li a i:hover
{
	color: #329fec;
}
.hamburger
{
	display: none;
	cursor: pointer;
}
.hamburger i
{
	font-size: 18px;
	color: #4c4c4c;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger i:hover
{
	color: #329fec;
}
.header_nav
{
	border-top: solid 1px #e9eef2;
	z-index: 2;
}
.header_nav_inner
{
	width: 100%;
}
.header_nav_container
{
	z-index: 1;
	background: #f3f7f9;
}
.header_nav_content
{
	height: 82px;
}
.main_nav
{
	height: 100%;
}
.main_nav ul
{
	height: 100%;
}
.main_nav ul li
{
	display: inline-block;
	position: relative;
	height: 100%;
}
.main_nav ul li::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-color: #4867c0;
	background-image: linear-gradient(to right, #4867c0, #329fec);
	background: #4867c0;
	background: linear-gradient(to right, #4867c0, #329fec);
	opacity: 0;
	z-index: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 26px;
}
.main_nav ul li:hover::after,
.main_nav ul li.active::after
{
	opacity: 1;
}
.main_nav ul li a
{
	display: block;
	position: relative;
	height: 100%;
	line-height: 82px;
	font-size: 16px;
	font-weight: 500;
	color: #4c4c4c;
	padding-left: 11px;
	padding-right: 8px;
	z-index: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
	color: #FFFFFF;
}
.search_container
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #4867c0;
	background-image: linear-gradient(to right, #4867c0, #329fec);
	background: #4867c0;
	background: linear-gradient(to right, #4867c0, #329fec);
	z-index: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_container.active
{
	bottom: -60px;
}
.search_content
{
	width: 100%;
	height: 60px;
}
.search_container_form
{
	position: relative;
	width: 300px;
}
.search_container_input
{
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 20px;
}
.search_container_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
}
.header_search
{
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	cursor: pointer;
}
.header_search i
{
	color: #4c4c4c;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_search:hover i
{
	color: #329fec;
}
.header_button
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 26px;
}
.header_hidden_button
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 26px;
}
.header_button_login
{
	width: 120px;
	height: 50px;
	border-radius: 0.1;
}