.title
{
    display: flex;
}

.event-time-title
{
    flex-grow: 1;
}
.ticket-body
{
    margin: 0!important;
    padding: 7px!important;
}
    .row-header
    {
        display: flex;
        margin: 0;
        padding: 0;
    }
        .title-ticket {
            padding: 00;
            margin: 0;
            align-items: center;
            flex-grow: 1;
            line-height: 0.6rem;
        }


.image_event
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.position-relative.form-group {
    flex-grow: 1;
}
input[type=file] {
    width: 300px;
    align-items: center;
    justify-content: center;
  }

  .flex_image
  {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
@media(max-width:760px)
{
    .image_event
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}